body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-bg {
  background-color: #fafafa;
} 

.text-color {
  color: #2c3e50;
}

.border-color {
  border-color: #2c3e50;
}

.custom-bg-text {
  color: #ffffff;
}

.bg-color {
  background-color: #2c3e50;
}

.rounded-card {
  padding: 1.5em .5em .5em;
  border-radius: 2em;
  box-shadow: 0 5px 10px #00000033;
}

.form-card {
  padding: .2em .2em .2em;
  border-radius: 1em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.product-card {
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.02);
}